.content img{
    max-width: 100%;
  }
  
  .content{
    background-color: darkcyan;
  }
  
  .title{
    text-align: center;
  }

  .infoUser{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    color: orangered;
  }

