.message{
    background-color: coral;
    grid-area: message;
}

.title{
    text-align: center;
    color: green;
    margin: 0;
    margin-bottom: 20px;
}

.messageContent{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
}

.messageUser{
    background-color: yellow;
}

.messageText{
background-color: yellowgreen;
}

.item{
    margin-bottom: 20px;
}

.messageTextItem{
    margin: 10px 0 10px 30px;
}